/*color scheme begins
#000 13 black
#444 2
#777 1 icon-magnifier
#888 1 icon-magnifier
@dark-gray:#4d4d4d;
@mid-gray:#777777;
@ordinary-gray:#bbb;
@light-gray:#fafafa;
@theme-color:#5db0e6;
#fff 11 white
color scheme ends*/
/*variables begin*/
/*variables end*/
/*new or temporary stuff begins*/
code {
  /*used in url generated for embedding images*/

  font-size: 75%;
}
.title em {
  font-style: normal;
}
.highlight {
  color: #5db0e6;
  font-weight: 700;
}
.list-image {
   margin-right: 1em;
   padding-left: 0.2em;
   padding-right: 0.2em;
   text-align: center;
   vertical-align: middle;
   width: 65px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
}
hr {
  color: #5db0e6;
}
ul {
  margin: 0 15px 1em 40px;
}
ul li {
  margin-bottom: .5em;
  margin-top: .5em;
  line-height: 1.5em;
}
#keyword-form input {
  margin-right: 1em;
}
#move-resource-dialog,
#resource-move-destinations,
#remove-resource-form {
  margin-top: 1em;
}
#new-resource-form,
#add-related-form {
  margin-top: 1.5em;
}
#add-field {
  margin-right: 2.2em;
}
#new-resource-form li input,
#add-related-form li input {
  margin-right: 1em;
}
/*new or temporary stuff ends*/
p,
td {
  line-height: 1.25em;
  padding: 4px 0 4px 4px;
  font-size: 1em;
}
p {
  text-indent: 1.5em;
}
a {
  color: #4d4d4d;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: none;
  color: #5db0e6;
  border-bottom: 0;
}
a:link,
a:visited {
  color: #5db0e6;
}
.biblio-full a {
  color: #4d4d4d;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px dotted;
}
.biblio-full a:hover {
  text-decoration: none;
  color: #5db0e6;
  border-bottom: 0;
  border-bottom: 2px dotted;
}
.biblio-full a:link,
.biblio-full a:visited {
  color: #5db0e6;
}

img {
  border: 0;
}

img.picture {
  border: 0;
  box-shadow: 3px 3px 3px grey;
}

img.zoom {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  /*cursor: zoom-in;*/
}


/*page-head div begins*/
#page-head {
  height: 8em;
  margin-top: .5em;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
#page-head-left {
  position: absolute;
  left: 0;
}
#page-head-right {
  position: absolute;
  right: 0;
  margin-top: 1em;
}
/*page-head div ends*/
/*content1col div begins*/
#content1col {
  margin-bottom: 3em;
  margin-left: 50px;
  margin-right: 50px;
  top: 215px;
  display: block;
  overflow: visible;
  background-color: white;
}
#content1col .help {
  text-align: left;
  font-size: 120%;
  margin-bottom: -1.2em;
  text-decoration: none;
}
#content1col .login {
  text-align: right;
  font-size: 120%;
  margin-bottom: 4px;
  color: #4d4d4d;
}
#content1col .username {
  font-weight: 700;
}
/*content1col div end*/
/*query-panel div begins*/
#query-panel .search-form td {
  text-align: left;
  color: #4d4d4d;
}
#query-panel .ui-autocomplete-input {
  width: 260px;
}
#advanced-search-form table tr:nth-child(2) td.delete-search-field-button-container input {
  display: none;
}
#query-panel .search-form td input[type='image'] {
  width: 22px;
  margin-left: -12em;
}
#query-panel .search-form input {
  width: 800px;
}
#query-panel .search-form td input {
  width: 260px;
}
#query-panel .advanced-search {
  display: inline;
}
#query-panel .search-form .collection-input {
  border: 0;
  width: 800px;
}
#query-panel .button {
  padding-bottom: 2px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
}
#form-submit {
  font-weight: 700;
  display: inline;
  padding-bottom: 2px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  margin-left: 7em;
  color: #4d4d4d;
}
/*query-panel div ends*/
/*folder view*/
/*collection-tree begins*/
#collection-tree {
  border-radius: 5px;
  float: left;
  margin-top: .8em;
}
#collection-tree .collection-tree-head {
  background-color: #ededed;
  margin-bottom: -8px;
  margin-top: -6px;
  border-radius: 5px;
  height: 36px;
}
#collection-tree .collection-tree-head img {
  width: 28px;
  padding-left: 3px;
}
#collection-tree .collection-tree-toolbar {
  margin: 10px 5px 5px;
  height: 20px;
  list-style: none;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 5px;
}
#collection-tree .collection-tree-toolbar li {
  display: inline;
  float: left;
  margin: 4px 8px 4px 0;
}
#collection-tree .collection-tree-toolbar img {
  border: 0;
  /*margin: -3px 0 0 7px;*/

  width: 20px;
}
#collection-tree .dynatree-container {
  border: 0;
  background-color: #fff;
  font-size: 1em;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #4d4d4d;
}
span.readable .dynatree-title {
  color: #777777;
  font-weight: normal;
}
#collection-tree .info-box {
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #4d4d4d;
  margin-top: 0;
  margin-bottom: 5px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2px;
}
#collection-tree .info-box p {
  margin: 4px;
  padding-top: 8px;
  text-indent: 0;
}
#toggle-collection-tree {
  margin: 4px;
}
#collection-tree-main {
  clear: left;
}
#collection-tree-tree {
  clear: left;
}
#collection-tree-tree ul {
  font-size: 1em;
}
#collection-expand-all {
  margin-left: 5px;
}
#collection-path {
  width: 800px;
}
/*collection-tree ends*/
/*create new record and add related record dialog begins*/
#new-resource-form .language-label,
#add-related-form .language-label {
  padding: .5em .5em .5em 3.5em;
}
#new-resource-form .language-list,
#add-related-form .language-list {
  position: absolute;
  right: 2em;
}
#new-resource-form .language-list option,
#add-related-form .language-list option {
  margin: .25em .5em;
}
/*create new record and add related record dialog ends*/
.hi {
  background-color: #5db0e6;
  /*KWIC in text extraction*/

}
.search-form .search-field {
  padding-left: .75em;
}
.search-form .search-field select {
  margin-left: .5em;
}
.search-form .operator {
  padding-right: .5em;
}
.search-form .operator select,
.search-field select option {
  padding-left: .25em;
  /*needed in FF*/

}
.search-form .search-term {
  width: 10em;
}
.search-form .label {
  padding-right: .5em;
}
/*facets begin*/
#filters {
  margin-top: -3px;
  float: right;
  width: 240px;
  height: 320px;
  margin-left: 10px;
  padding: 4px;
  font-size: 1em;
}
#filters ul {
  list-style: none;
  margin: 0;
  font-size: 1em;
}
#filters ul li {
  line-height: 1em;
  display: list-item;
}
#filters li a {
  font-weight: 400;
}
#filters .ui-accordion .ui-accordion-content {
  padding-top: 0 !important;
}
#filters .ui-accordion a,
#filters .ui-accordion-header a {
  font-weight: 400;
}
#filters .ui-state-hover,
#filters .ui-state-hover a,
#filters .ui-state-hover a:hover {
  color: #5db0e6;
}
/*facets end*/
/*pagination begins*/
#results-head {
  border-bottom: 1px solid #bbbbbb;
  padding: 1em;
}
#results-head .records-found {
  margin-right: 1em;
}
#results-head .navbar .pagination-toggle,
#results-head .navbar .pagination-mode {
  margin-left: 1.5em;
}
#results-head .navbar .pagination-first {
  margin-right: .5em;
  padding: 2px 4px;
}
#results-head .navbar .pagination-last {
  margin-left: .5em;
  margin-right: .5em;
  padding: 2px 4px;
}
#results-head .navbar .pagination-previous {
  margin-right: .5em;
  padding: 2px 6px;
}
#results-head .navbar .pagination-next {
  margin-right: .5em;
  padding: 2px 6px;
}
#results-head .navbar .pagination-previous,
#results-head .navbar .pagination-next,
#results-head .navbar .pagination-last,
#results-head .navbar .pagination-first {
  cursor: pointer;
  border: 1px solid #5db0e6;
  color: #5db0e6;
}
#results-head .navbar .inactive {
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  cursor: default;
}
#results-head .navbar .pagination-info {
  margin: 10px;
  text-align: center;
}
/*pagination ends*/
.actions-cell,
.detail-type,
.list-type,
.pagination-number {
  text-align: center;
  vertical-align: top;
  margin: 0;
}
.pagination-number {
  padding-top: .45em;
}
.actions-cell {
  width: 30px;
  padding-top: .25em;
}
.list-type {
  width: 30px;
}
.actions-cell a img {
  width: 22px;
  margin-top: -3px;
}
.list-type img,
.detail-type img {
  width: 20px;
  /*margin-top:-3px;*/

}
.detail-type {
  margin: 10px 0 0;
  padding-left: 10px;
  text-align: center;
}
.subject td {
  vertical-align: middle;
  border: #bbbbbb 1px;
  padding: 0;
}
/*main structures for display of search results begins*/
#results {
  margin-top: .5em;
  overflow: auto;
}
#results table {
  width: 100%;
}

#results ul {
  list-style: none;
  margin-top: 2px;
}
#results li {
  float: left;
  padding: 4px;
  margin: -2px 0 0 -2px;
  text-align: center;
  position: relative;
  border: 2px solid #bbbbbb;
}
#results li.gallery {
  width: 196px;
}
#results li.gallery .icon {
  position: relative;
  display: inline-block;
  height: 128px;
  line-height: 128px;
  width: 196px;
  text-align: center;
  overflow: hidden;
}
#results li img.icon-magnifier {
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 100;
  display: none;
  padding: 6px;
  border: 1px solid #777;
  background: #888;
}
#results li .icon:hover .icon-magnifier {
  display: block;
}
.detail-xml .magnify {
  cursor: pointer;
}
#results li.grid .icon {
  display: inline-block;
  height: 72px;
  line-height: 72px;
  width: 72px;
  text-align: center;
  overflow: hidden;
}
#results li img {
  display: inline;
  cursor: pointer;
  vertical-align: middle;
}
#results .record p,
#results .record ol li,
#results .record ul li {
  margin: 0;
  border: 0;
  float: none;
  padding: 0;
  text-align: left;
}
#results .record h1,
#results .record h2,
#results .record h3,
#results .record h4,
#results .record h5,
#results .record h6 {
  background-color: #fff;
  color: #000;
  padding: 0;
}
li .pagination-number {
  display: none;
}
table .biblio-full {
  margin-top: -2px;
}
table .pagination-toggle {
  cursor: pointer;
  text-decoration: none;
  /*line-height: 1.8em;*/
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table .even {
  background-color: #f5f5f5;
}
table .pagination-number {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 50px;
}
table .biblio-full .collection {
  width: 20em;
  /*to keep the collection path from overlapping the actions toolbar*/

}
table .biblio-full .collection-label {
  background-color: #fff;
  text-align: right;
  vertical-align: top;
  padding-right: 1em;
}
table .biblio-full .label {
  text-align: right;
  padding-right: 1em;
  vertical-align: middle;
  width: 90em;
  /*to set a minimum width that keeps the table biblio-full from collapsing*/

}
table .biblio-full .record {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  width: 65em;
}
table .biblio-full tr {
  height: 1.25em;
}
table .biblio-full .sublabel {
  font-weight: 700;
  text-align: right;
  padding-right: 1em;
  vertical-align: middle;
  color: #bbbbbb;
  width: 30%;
}
table .biblio-full .host {
  font-weight: 700;
  text-align: right;
  padding-right: 1em;
  width: 16em;
}
table .biblio-full .deemph {
  text-align: right;
  vertical-align: middle;
  color: #bbbbbb;
  width: 10em;
}
table .biblio-full .subrecord {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  width: 40em;
}
table .biblio-full .record table,
table .biblio-full .subrecord table {
  margin: 0;
}
table .biblio-full .related td {
  margin: 10em;
  line-height: 3.4em;
  border-top: 1px solid #bbbbbb;
}

/*main structures for display of search results ends*/
/*results-view (list) styling begins*/
.title {
  font-style:italic;
}
.vra-title {
  font-size: 0.9em;
  font-weight: bold;
}
.vra-date {
  font-size: 0.9em;
}
.vra-agent {
  font-size: 0.9em;
}
.vra-role{
  font-style: italic;
}
.vra-location{
  font-size: 0.9em;
}

/*results-view styling ends*/
.actions-toolbar {
  float: right;
  margin-top: 4px;
}
.save {
  vertical-align: top;
}
.save img,
.actions-toolbar img {
  border: 0;
  margin: -3px 0 0 7px;
  width: 20px;
}
.ui-widget {
  font-size: 1em;
}
.ui-widget-content .ui-state-default {
  color: #444;
}
#optimize-trigger {
  /*shown when logged in as admin*/

  float: left;
}
form ul li {
  list-style: none;
}
#new-resource-dialog,
#add-related-dialog {
  font-size: .85em;
}
#login-form {
  width: 30em;
}
#login-form input {
  width: 20em;
}
/* image gallery lightbox  begins*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001;
  -moz-opacity: 0.9;
  opacity: .90;
  filter: alpha(opacity=90);
}
.lightbox .view {
  position: fixed;
  top: 50%;
  text-align: center;
  z-index: 2002;
  padding: 16px;
  border: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 0px 15px #000;
  /*CSS3 shadow:30px blurred shadow all around form*/
  -webkit-box-shadow: 0px 0px 15px #000;
  /*Safari shadow version*/
  -moz-box-shadow: 0px 0px 15px #000;
  /* Mozilla shadow version*/

}
.lightbox .image {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
}
#viewer-image {
  /* scale to parent container */

  max-width: 100%;
  max-height: 100%;
}
.lightbox h4 {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 125%;
  margin: 10px auto 0;
}
.lightbox .next,
.lightbox .previous {
  position: absolute;
  display: none;
  padding: 0 10px 10px;
  background-color: #fff;
  color: #444;
  font-size: 200%;
  font-weight: 700;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.lightbox .image:hover .close,
.lightbox .image:hover .next,
.lightbox .image:hover .previous {
  display: block;
}
.lightbox .close {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.lightbox .next {
  top: 33%;
  right: 0;
}
.lightbox .previous {
  top: 33%;
  left: 0;
}
.lightbox li h4 {
  margin: 0;
  font-size: 75%;
  font-weight: 400;
}
.filmstrip {
  position: fixed;
  display: none;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2001;
  overflow: hidden;
}
.filmstrip ul {
  list-style: none;
  /* height:140px; */

  margin: 0;
  padding: 0;
  vertical-align: middle;
  background: #000;
}
.filmstrip li {
  display: inline-block;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border: 2px solid #000;
  text-align: center;
  margin: 0;
}
.filmstrip li img {
  display: inline-block;
  vertical-align: middle;
}
.filmstrip .highlighted {
  border: 2px solid #fff;
}
.filmstripPageButtonContainer {
  text-align: center;
}
.filmstripPageButton {
  font-size: 20pt;
  color: #fff;
  padding-left: 4em;
  padding-right: 4em;
}
.filmstripPageButton:hover {
  background-color: #000;
  border: 1px #fff solid;
}
/* image gallery lightbox  ends*/
/* collection sharing dialog begins*/
#collectionSharingDetails_filter {
  float: right;
  margin-top: -2.5em;
}
#sharing-collection-dialog div,
#collectionSharingDetails {
  margin-bottom: 1em;
}
#collectionSharingDetails_processing,
#collectionSharingDetails_length {
  display: none;
}
#collectionSharingDetails,
#collectionSharingDetails th,
#collectionSharingDetails td {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}
#collectionSharingDetails td,
#collectionSharingDetails th {
  line-height: 0.8em;
  width: 20%;
  text-align: center;
}
#collectionSharingDetails td {
  padding: 3px 10px;
}
#collectionSharingDetails th {
  padding-top: 10px;
  padding-bottom: 10px;
}
#collectionSharingDetails_paginate span {
  margin-right: 2em;
}
#collectionSharingDetails_paginate {
  vertical-align: middle;
}
#collectionSharingDetails_paginate .paginate_button_disabled {
  color: #f5f5f5;
}
#collectionSharingDetails_paginate span .paginate_active {
  margin-right: 0;
  font-weight: 700;
}
#add-new-user-to-share-button {
  margin-right: 1em;
}
#project-auto-list,
#user-auto-list {
  width: 20em;
}
#add-user-to-share-dialog input,
#add-project-to-share-dialog input {
  margin: 1em 1em 1em 0;
  display: block;
}
/* collection sharing dialog ends*/
#personal-list button {
  padding: 2px 4px;
  margin-right: 4px;
}
#login-form {
  width: 30em;
}
.metadata {
  position: fixed;
  right: 20px;
  top: 20px;
  bottom: 100px;
  width: 50%;
  display: none;
  z-index: 2002;
  padding: 16px;
  border: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 0px 15px #000;
  /*CSS3 shadow:30px blurred shadow all around form*/
  -webkit-box-shadow: 0px 0px 15px #000;
  /*Safari shadow version*/
  -moz-box-shadow: 0px 0px 15px #000;
  /* Mozilla shadow version*/

}
.show-metadata {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
  z-index: 2002;
  padding: 16px;
  background-color: #fff;
  color: #000;
}
#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  z-index: 999;
}
