
#drop-area {
    border: 2px dashed #DDDDDD;
    height: 50px;
    margin-bottom: 2em;
    padding: 10px;
    text-align: center;
}
#drop-area .drop-instructions {
    display: block;
    height: 30px;
}
#drop-area .drop-over {
    display: none;
    font-size: 25px;
    height: 30px;
}
#drop-area.over {
    background: none repeat scroll 0 0 #FFFFA2;
    border: 2px dashed #000000;
}
#drop-area.over .drop-instructions {
    display: none;
}
#drop-area.over .drop-over {
    display: block;
}
#drop-area.over .drop-over {
    display: block;
    font-size: 25px;
}
#file-list {
    list-style: none outside none;
    margin: 1em 0;
    width: 100%;
}
#file-list li {
    border-bottom: 0 solid #000000;
    display: inline-block;
    float: left;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2px;
    padding-right: 20px;
}
#file-list ul {
    width: 100%;
}
#file-list li {
    float: left;
}
#file-list li.no-items {
    border-bottom: 1px solid #000000;
}
#file-list div {
    float: left;
    margin-bottom: 0;
}
#file-list li img {
}
#file-list .progress-bar-container {
    border: 0 solid #555555;
    float: left;
    height: 40px;
    margin-bottom: 0;
    width: 200px;
}
#file-list .progress-bar-container.uploaded {
    border: medium none;
    float: left;
    height: 40px;
}
#file-list .progress-bar {
    background: none repeat scroll 0 0 #6787E3;
    float: left;
    font-weight: bold;
    height: 10px;
    width: 0;
}
#file-list .progress-bar-container.uploaded .progress-bar {
    background: none repeat scroll 0 0 transparent;
    color: #6DB508;
    display: inline-block;
    float: left;
    margin-top: 0.5em;
    width: auto;
}
#namewidth {
    height: 40px;
    width: 200px;
}
#typewidth {
    height: 40px;
    width: 100px;
}
#sizewidth {
    height: 40px;
    width: 100px;
}
#attachedFilesDetails_filter {
    float: right;
    margin-top: -2.5em;
}
#sharing-collection-dialog div, #attachedFilesDetails {
    margin-bottom: 1em;
}
#attachedFilesDetails_processing, #attachedFilesDetails_length {
    display: none;
}
#attachedFilesDetails, #attachedFilesDetails th, #attachedFilesDetails td {
    border: 1px solid #F5F5F5;
    border-collapse: collapse;
    width: 100%;
}
#attachedFilesDetails td, #attachedFilesDetails th {
    line-height: 0.8em;
    text-align: center;
    width: 20%;
}
#attachedFilesDetails td {
    padding: 3px 10px;
}
#attachedFilesDetails th {
    padding-bottom: 10px;
    padding-top: 10px;
}
#attachedFilesDetails_paginate span {
    margin-right: 2em;
}
#attachedFilesDetails_paginate {
    vertical-align: middle;
}
#attachedFilesDetails_paginate .paginate_button_disabled {
    color: #F5F5F5;
}
#attachedFilesDetails_paginate span .paginate_active {
    font-weight: 700;
    margin-right: 0;
}
#add-new-user-to-share-button {
    margin-right: 1em;
}
#project-auto-list, #user-auto-list {
    width: 20em;
}
#add-user-to-share-dialog input, #add-project-to-share-dialog input {
    display: block;
    margin: 1em 1em 1em 0;
}
