.record-group {
    float: left;
    width: 100%;
    height: 300px;
}

.record-adding-group {
    float: left;
    width: 30%;
}

.suggestion-group {
    float: left;
    width: 30%; 
    margin-right: 10px;
    overflow-y: scroll;
}

.suggestions-repeat {
    font-size: 12px;
}

.history-group {
    float: left;
    width: 30%;
    font-size: 12px;    
}

.history-table {
    border-collapse: collapse;
}

.history-table th, .history-table td {
    border: 1px solid black;
}