/*[#DDDAD3]

#EBEBEB 3 grey
#F5F4F2 13 light grey

#4D4D4D 12 almost black

#FFFFFF 9 white

#C7B899 17 dark brown
#B3A17D 14 dark brown
#835400 3 dark brown
#F2EEE5 1 light brown
#F9F7F0 4 light brown
*/

.save img, .actions-toolbar img {
    margin-right: 1em;
    }

#simple-search-form .dropdown input {
	margin-left: 6.5em !important;
	1color:red !important;
	}

#form-submit {
	margin-left: 6.5em !important;
	}
	
/*jquery css overrides begin */

#query-tabs ul  {
	background-color:#F5F4F2 !important;
	background-image:url("") !important;
	}

.ui-tabs-nav {
	1background-color:#F5F4F2;
}

.ui-tabs .ui-tabs-nav li a {
    color:#FFFFFF;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color:#B3A17D;
}

.ui-state-active a {
	color:#4D4D4D;
}

.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited 
	{
    background:#C7B899;  /*c9bea9 c2b497 dcdad9  C7B899*/
    color:#4D4D4D;
}

.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited 
{
    color:#4D4D4D/*{fcActive}*/;
    background:#F5F4F2;
    text-decoration:none;
    border-bottom:none;
    border-color:#C7B899;
}

#filters .ui-state-default a, 
#filters .ui-state-default a:link, 
#filters .ui-state-default a:visited 
	{
    background:#F5F4F2;  /*c9bea9 c2b497 dcdad9  C7B899*/
    color:#B3A17D;
    1font-weight:bold;
}

.ui-widget-header {
    border:1px solid #EBEBEB;
    1background:#DDDAD3 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x ;  /*dcdad9*/
    color:purple;
    font-weight:bold;
}

.ui-tabs .ui-tabs-panel {
    background:#F5F4F2;
}

/*jquery css overrides end */

.banner {
	display:none;
}
.bullet {
	font-size:3em;
	margin-bottom:.1em;
}
a {
    color:#4D4D4D;    
}

a:hover {
    color:#835400; 
}

p a:hover {
    color:#835400; 
}

a:link, 
a:visited {
    color:#B3A17D;
    text-decoration:none;
}

p a:link, 
p a:visited,
li a:link, 
li a:visited

	{
    color:#835400;
    text-decoration:none;
}


.pagination-back {
    border:1px solid #B3A17D;
    color:#B3A17D;
}


table {
    margin:1.5em 1em 1em 1em;
   
}


table .pagination {margin-left:1em;}

td .biblio-full {
    margin-top:-2.2em;
    margin-left:-4em;
    width:105%;
    padding:5px;
    
}

/*above from wsc biblio.css*/

#collection-tree {
	display:none;
	/*border:1px solid #C7B899;*/
}

ul.dynatree-container {
    border:0;
    background-color:#FFFFFF !important;
    border:1px solid #C7B899;
}

#dialogs {
	margin-bottom:9em;
}

.box p {
	color:#C7B899 !important;
}
.box {
	background-color:#FFFFFF !important;
}

#collection-tree,
.collection-tree-head
{
	background-color:#F5F4F2 !important;
}

.collection-tree-toolbar {
	padding-left:.5em;
	border:1px solid #C7B899;
	}

.collection-input {
	background-color:#F5F4F2;
}

.dynatree-container
{
	background-color:#F5F4F2 !important;
}

.page {
    1background:url("http://sunmoonlake.com/wsc/YishuJingyanlu_bg2000d.jpg") repeat-x scroll -100px -19px #EBEBEB;
    padding-right:0px;
}

p {
	color:#4D4D4D;
	font-size:1.1em;
	line-height:1.25em;	

}

hr {
	margin-bottom:1em;
}

@media screen {
    body {
        1background:url("http://sunmoonlake.com/wsc/YishuJingyanlu_bg2000xy.jpg") repeat scroll -100px 163px transparent;
        background:url("http://sunmoonlake.com/wsc/YishuJingyanlu_bg2000d.jpg") repeat scroll -100px -19px #C7B899;
        1min-width:1000px;
        display:block;
        color:#4D4D4D;
        1background-image:url('http://sunmoonlake.com/wsc/YishuJingyanlu_bg2000d.jpg');
        1background-repeat:repeat-y;
        1background-color:#C7B899;
}

#content2col {
    left:220px;
    right:50px;
    top:215px; 
    position:absolute;
    left:0;
    margin-left:50px;
    margin-right:290px;
    display:block;
    overflow:visible;
    background-color:#FFFFFF;
    }

#content2col2 {
/*    left:220px;
    right:50px;
    top:215px; */
    position:relative;
    float:right;
    right:0;
    margin-right:50px;
    margin-left:10px;
    margin-top:-76px;
    width:228px;
    height:800px;
    display:block;
    overflow:visible;
    1background:url("http://sunmoonlake.com/wsc/wsc-background5.jpg") repeat-y  right top white;
    }
    
#content {
    position:absolute;
    left:240px;
    right:290px;
    top:235px;
    display:block;
    overflow:visible;
    background-color:#FFFFFF;
}

#pagecontent1col {
    left:50px;
    right:50px;
    top:235px; 
    margin-bottom:116px;
    padding:30px;
    display:block;
    overflow:visible;
    background:transparent;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:1px solid #C7B899;
}

#query-history *,
#personal-list * {
	color:#835400;
	font-size:1em;
}

}#pagecontent {
    /* position:absolute; */
    top:0;
    bottom:100px;
    left:0;
    right:0;
    height:100%; 
    1width:960px;
    display:block;
    margin:0 50px 20px 50px; 
    padding:0 0 0 0; 
    overflow:visible;
    background:#F2EEE5;
    opacity:1.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
	filter:alpha(opacity=100);
    z-index:-1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.repeat .label {
	background-color:#F5F4F2;
}    

* html #pagecontent1col {
    background-color:#F9F7F0;
}    

#content1col {
    background:#F2EEE5 !important;
    /*opacity:0.95 !important;*/
    margin-left:50px;
    margin-right:50px;
    padding:1.5em;
    top:235px;
    display:block;
    overflow:visible;
    background-color:#F9F7F0;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:1px solid #C7B899;
    }
}

table .even {
	background-color:#F5F4F2;
}
.back {
	margin-top:2em;
}
#header {
    height:144px;
    position:relative;
}

#header, 
#nav, 
#main, 
#footer 
{
    clear:both;
}

#page-head {
    background: transparent;
    color:#4D4D4D;
    height:210px;
    margin-top:0px;
    margin-bottom:0;
}

#page-footer {
    display:block;
    margin:0 50px 20px 50px; 
    background-color:#EBEBEB;
    color:#4D4D4D;
    text-align:center;
    margin-top:-7em;
    padding:.5em;
    border:1px solid #C7B899;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.articles {
	margin-left:15px;
	font-size:1.1em;
}

* html #page-footer {   
    1width:860px;
    margin-top:20px;
}

#page-head-left {
    position:absolute;
    top:20px;
    left:0;
}

#page-head-left img {
    margin-right:10px;
}

#page-head-right {
    background:transparent;
    position:absolute;
    top:20px;
    height:144px;
    width:100px;
    margin-left:30px;
}

#page-head-right img {
    margin-left:60px;
}

.hideme  {
    display:none;
}

#nav {
    position:relative;
    display:block;
}

#nav .hlist {
    left:-40px;
    position:absolute;
    top:129px;
}

#nav .hlist ul {
    list-style-type:none;
    padding:0;
}

#nav .hlist ul li {
    display:inline;
    float:left;
    height:31px;
    margin:0 3px 0 0;
    padding:0;
}

#nav .hlist ul li a, 
#nav .hlist ul li span 
	{
    background-color:#C7B899;
    color:#FFFFFF;
    display:inline;
    float:left;
    font-family:"Lucida Sans Unicode",Lucida Sans,sans-serif;
    font-size:15px;
    font-weight:normal;
    height:20px;
    padding:6px 21px 5px;
    text-decoration:none;
    1text-transform:uppercase;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px 4px;
    border-top-right-radius:4px 4px;
}

#nav .hlist ul li a:hover, 
#nav .hlist ul li a:active, 
#nav .hlist ul li a:focus, 
#nav .hlist ul li.active a 
{
    background:none repeat scroll 0 0 #F9F7F0 !important;
    color:#B3A17D;
    1font-weight:bold;
    padding:6px 21px;
    text-decoration:none !important;
}

#nav .hlist ul li.active span {
    background-color:#F9F7F0;
    color:#4D4D4D !important;
    1padding:6px 21px !important;
    text-decoration:none;
    border:1px solid #B3A17D;
    border-bottom:0;
}

#nav .hlist ul li.active span a, 
#nav .hlist ul li.active span a:hover {
    padding:0;
}

#subnav {
    position:relative;
    height:70px;
    top:163px;
    display:block;
}

#subnav .hlist {
    left:14px;
    position:absolute;
    top:2px;
}

#subnav .hlist ul {
    list-style-type:none;
    padding:0;
}

#subnav .hlist ul li {
    display:inline;
    float:left;
    height:68px;
    width:160px;
    margin:0 1px 0 0;
    padding:0;
}


#subnav .hlist ul li a, 
#subnav .hlist ul li span {
    1background:url("http://sunmoonlake.com/wsc/button2.jpg") no-repeat scroll left top #FFFFFF;
    color:#4D4D4D;
    display:inline;
    float:left;
    font-family:"Lucida Sans Unicode",Lucida Sans,sans-serif;
    font-size:15px;
    font-weight:normal;
    height:68px;
    width:156px;
    padding:1px 0 0 0;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}


#subnavwsc{
	width:800px;
	border:0px solid #B3A17D;
	margin-left:40px;
	margin-top:-98px;
}

#nav .hlist ul ul li a:hover, 
#nav .hlist ul ul li a:active, 
#nav .hlist ul ul li a:focus, 
#nav .hlist ul ul li.active a {
	color:#4D4D4D;
	border:1px solid #B3A17D;
	border-left:none;
	border-right:none;
	border-top:none;
}

#subnav .hlist ul li a:hover, 
#subnav .hlist ul li a:active, 
#subnav .hlist ul li a:focus, 
#subnav .hlist ul li.active a {
    background: 0 0 #FFFFFF !important;
    color:#4D4D4D;
    height:68px;
    width:156px;
    padding:2px 0 0 0;
    text-align:center;
    text-decoration:none !important;
}

#subnav .hlist ul li.active span {
    background:none repeat scroll 0 0 #FFFFFF !important;
    color:#4D4D4D !important;
    height:68px;
    width:156px;
    padding:0 !important;
    text-align:center;
    text-decoration:none;
    
    border-bottom:1px solid red;
}

#subnav .hlist ul li.active span a {
    padding:2px 0 0 0;
}

#header login-form {
    1background:url("http://sunmoonlake.com/wsc/login_bg.jpg") no-repeat scroll left top transparent;
    height:144px;
    position:absolute;
    right:0;
    text-align:right;
    top:33px;
    width:228px;
}

#dbpics {
    height:550px;
    width:740px;
    background:url("http://sunmoonlake.com/wsc/database-structure700.gif") no-repeat left 20px transparent;
}

#dbpics .db-bio {
    position:relative;
    top:0px; left:236px;
    width:340px;
    height:128px;
    border:2px solid transparent;
    background:transparent;
    display:block;
}

#dbpics .db-biblio {
    position:relative;
    top:0px; left:236px;
    width:340px;
    height:160px;
    border:2px solid transparent;
    background:transparent;
    display:block;
}

#dbpics .db-term {
    position:relative;
    top:0px; left:236px;
    width:340px;
    height:140px;
    border:2px solid transparent;
    background:transparent;
    display:block;
}

#db-bio a:hover  {
    background:url("http://sunmoonlake.com/wsc/db-bio.gif") no-repeat left top transparent;
}

#db-biblio a:hover {
    background:url("http://sunmoonlake.com/wsc/db-biblio.gif") no-repeat left top transparent;
}

#db-term a:hover {
    background:url("http://sunmoonlake.com/wsc/db-term.gif") no-repeat left top transparent;
}

h2 {
    font-weight:bolder;
    
}

h1 {
    background-color:transparent;
    color:#835400;
    text-align:center;
}

#results-head .navbar .pagination-previous,
#results-head .navbar .pagination-next,
#results-head .navbar .pagination-last,
#results-head .navbar .pagination-first
	{
    cursor:pointer;
    border:1px solid #835400;
    color:#835400;
}

#results-head .navbar .inactive
{
    cursor:default;
    border:1px solid #C7B899;
    color:#C7B899;
}


.navbar .pagination-next {
    padding:2px 4px;
}

.pagination-link {
border:1px solid #C7B899;
color:#B3A17D;
}

.pagination-link:hover {
border:1px solid #C7B899;
color:#C7B899;
}

#messages {
	color:#B3A17D;
} 

#login-link {
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";    
}
#query-panel .search-form .collection-input {
	color:#4D4D4D;
}

.relatedItem-record {
	background-color:#F5F4F2;
}

td .biblio-full .label {
    background-color:#F5F4F2;
    color:#B3A17D;
}

.biblio-full .record {
    background-color:#F5F4F2;
}

td .biblio-full .url {
    background-color:#EBEBEB;
    color:#C7B899;
}

div #result-container {
    margin-left: -3.5em; /*because folder view is hidden*/
    background:white;
    margin-right:4px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #C7B899 !important;
}

div #results-head {
    margin-left: -3.5em; /*because folder view is hidden*/
}

#facets {
	margin-top:.5em;
	margin-right:.5em;
}

table.biblio-full td.collection-label {
    color:#B3A17D;
}

table.biblio-full .sublabel {
	color:#B3A17D;
}

#dict {
    margin-bottom:2em;
}