
#drop-area {
    border: 2px dashed #DDDDDD;
    height: 50px;
    margin-bottom: 2em;
    padding: 10px;
    text-align: center;
}
#drop-area .drop-instructions {
    display: block;
    height: 30px;
}
#drop-area .drop-over {
    display: none;
    font-size: 25px;
    height: 30px;
}
#drop-area.over {
    background: none repeat scroll 0 0 #FFFFA2;
    border: 2px dashed #000000;
}
#drop-area.over .drop-instructions {
    display: none;
}
#drop-area.over .drop-over {
    display: block;
}
#drop-area.over .drop-over {
    display: block;
    font-size: 25px;
}
#file-list {
    list-style: none outside none;
    margin-bottom: 3em;
    margin-left:0;
      width:800px;
}
#file-list li {
    border-bottom: 0px solid #000000;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    display:inline-block;
    float:left;
    padding-left:2px;
    padding-right: 20px;
   
    
}

#file-list ul {
    width:100%;
    
}
#file-list li  {
 	float:left;   
}

#file-list li.no-items {
    border-bottom: medium none;
      border-bottom: 1px solid #000000;
}
#file-list div {
    margin-bottom: 0em;
    	float:left;
    	align:middle;
}
#file-list li img {
    
}

#file-list .progress-bar-container {
			width: 200px;
			height: 40px;
			border: 0px solid #555;
			margin-bottom: 0px;
			
			float:left;
			
		}
		
		#file-list .progress-bar-container.uploaded {
			height: 40px;
			border: none;
			float:left;
			
		}
		
		#file-list .progress-bar {
			width: 0;
			height: 10px;
			font-weight: bold;
			background: #6787e3;
				float:left;
			
		}
		
		#file-list .progress-bar-container.uploaded .progress-bar{
			display: inline-block;
			width: auto;
			color: #6db508;
			background: transparent;
			float:left;
			margin-top:0.5em;
			
		
		}


#namewidth{
    width: 200px;
    height: 40px;

}
#typewidth{
    width: 100px;
    height: 40px;
}

#sizewidth{
    width: 100px;
    height: 40px;
}
/* collection sharing dialog begins*/
#attachedFilesDetails_filter {
  float: right;
  margin-top: -2.5em;
}
#sharing-collection-dialog div,
#attachedFilesDetails {
  margin-bottom: 1em;
}
#attachedFilesDetails_processing,
#attachedFilesDetails_length {
  display: none;
}
#attachedFilesDetails,
#attachedFilesDetails th,
#attachedFilesDetails td {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}
#attachedFilesDetails td,
#attachedFilesDetails th {
  line-height: 0.8em;
  width: 20%;
  text-align: center;
}
#attachedFilesDetails td {
  padding: 3px 10px;
}
#attachedFilesDetails th {
  padding-top: 10px;
  padding-bottom: 10px;
}
#attachedFilesDetails_paginate span {
  margin-right: 2em;
}
#attachedFilesDetails_paginate {
  vertical-align: middle;
}
#attachedFilesDetails_paginate .paginate_button_disabled {
  color: #f5f5f5;
}
#attachedFilesDetails_paginate span .paginate_active {
  margin-right: 0;
  font-weight: 700;
}
#add-new-user-to-share-button {
  margin-right: 1em;
}
#project-auto-list,
#user-auto-list {
  width: 20em;
}
#add-user-to-share-dialog input,
#add-project-to-share-dialog input {
  margin: 1em 1em 1em 0;
  display: block;
}
/* collection sharing dialog ends*/


