<div xmlns="http://www.w3.org/1999/xhtml">
    <script type="text/javascript">
        $(function() {
            $('#login-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Login": function () {
                        login($(this));
                    }
                },
                title: "Login", width: 450
            });
            var trigger = '#login-link';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#login-dialog').dialog('open');
                    return false;
                });
            }
            
            $('#new-collection-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Create": function () {
                        createCollection($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                },
                title: "Create Folder",
                width: 450
            });
            var trigger = '#collection-create-folder';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#new-collection-dialog').dialog('open');
                    return false;
                });                
            }
            
            $('#upload-file-dialog').dialog({
                modal: true,
                autoOpen: false,
                open: function(event, ui){
                    updateAttachmentDialog();
                },
                buttons: {},
                title: "File attachments",
                width: 900
            });
            var trigger = '#upload-file-to-resource';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#upload-file-dialog').dialog('open');
                    return false;
                });                 
            }
           
            $('#rename-collection-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Rename": function () {
                        renameCollection($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                },
                title: "Rename Folder",
                width: 450
            });
            var trigger = '#collection-rename-folder';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#rename-collection-dialog').dialog('open');
                    return false;
                });                
            }
            
            $('#move-collection-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Move": function () {
                        moveCollection($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                },
                title: "Move Folder",
                width: 700
            });
            var trigger = '#collection-move-folder';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#move-collection-dialog').dialog('open');
                    return false;
                });                 
            }
           
            $('#remove-collection-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Remove": function () {
                        removeCollection($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }, 
                title: "Remove Folder", 
                width: 450
            });
            var trigger = '#collection-remove-folder';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#remove-collection-dialog').dialog('open');
                    return false;
                });                  
            }
            
            $('#sharing-collection-dialog').dialog({
                modal: true,
                autoOpen: false,
                open: function(event, ui){
                    updateSharingDialog();
                },
                buttons: {
                    "Close": function() {
                        $(this).dialog("close");
                    }
                },
                title: "Folder Sharing",
                width: 700
            });
            var trigger = '#collection-sharing';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#sharing-collection-dialog').dialog('open');
                    return false;
                });                
            }
            
            $('#user-auto-list').autocomplete({
                source: function(request, response) {
                    var data = {
                        term: request.term
                    };
                    $.ajax({
                        url: "autocomplete-username.xql",
                        dataType: "json",
                        data: data,
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                delay: 700
            });            
            
            $('#add-user-to-share-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {},
                title: "Add a User to Share With",
                width: 450
            }); 
            
            $('#project-auto-list').autocomplete({
                source: function(request, response) {
                    var data = {
                        term: request.term
                    };
                    $.ajax({
                        url: "autocomplete-groupname.xql",
                        dataType: "json",
                        data: data,
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                delay: 700
            });
            
            $('#add-project-to-share-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {},
                title: "Add a Project to Share With",
                width: 450
            });            
            
            $('#remove-resource-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Remove": function () {
                        removeResource($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }, 
                title: "Remove Record", 
                width: 450
            });
            $('#move-resource-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Move": function () {
                        moveResource($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }, 
                title: "Move Record",
                width: 500
            });
            $('#new-resource-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Create": function () {
                        newResource($(this));
                    },
                    "Cancel": function() { 
                        $(this).dialog("close");
                    }
                }, 
                title: "Create Stand-Alone MODS Record", 
                width: 550
            });
            var trigger = '#collection-create-resource';
            if (trigger != '') {
                $(trigger).click(function() {
                    $('#new-resource-dialog').dialog('open');
                    return false;
                });                
            }

            $('#add-related-dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    "Create": function () {
                        newRelatedResource($(this));
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                },
                title: "Create Related MODS Record",
                width: 550
            });
          
          
        });            
    </script>
    <div id="login-dialog">
        <table>
            <tr>
                <td id="login-message" colspan="2"/>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input id="loginUsername" name="user" type="text"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input id="loginPassword" name="password" type="password"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="new-collection-dialog">
        <form id="create-collection-form" action="operations.xql">
            <div>Name of new folder: </div>
            <div>
                <br/>
            </div>
            <div>
                <input id="new-collection-name" type="text"/>
            </div>
        </form>
    </div>
    <div id="upload-file-dialog" class="upload-file-style">
        <div class="row"/>
        <div class="dropbox-wrapper">
            <div id="dropbox" class="dropbox" ng-class="dropClass">
                <span>{{dropText}}</span>
            </div>
        </div>
        <div ng-show="files.length" id="file-list">
            <div ng-repeat="file in files.slice(0)">
                <table>
                    <tr>
                        <td colspan="1">{{file.webkitRelativePath || file.name}}</td>
                        <td ng-switch="file.size &gt; 1024*1024" colspan="1">
                            <span>{{file.size / 1024 / 1024 | number:2}} MB</span>
                            <span>{{file.size / 1024 | number:2}} kB</span>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="button" ng-click="uploadFile()" value="Upload"/>
            <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"/>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <div id="upload-resource-id" name="resource"/>
                    <div id="file-upload-folder" style="display: none;"/>
                </td>
            </tr>
        </table>
        <input type="button" ng-click="hideUploadDialog()" value="Cancel" style="float: right;"/>
    </div>
    <div id="rename-collection-dialog">
        <form id="rename-collection-form" action="operations.xql">
            <input id="rename-collection-path_" type="hidden" name="collection"/>
            <div>New folder name: </div>
            <div>
                <br/>
            </div>
            <div>
                <input id="rename-new-name" name="name" type="text"/>
            </div>
        </form>
    </div>
    <div id="move-collection-dialog">
        <form id="move-collection-form" action="operations.xql">
            <input id="move-collection-path_" type="hidden" name="collection"/>
            <div>Move folder '<span id="move-collection-path_"/>' to </div>
            <div>
                <br/>
            </div>
            <div>
                <select id="collection-move-destinations" name="path"/>
            </div>
        </form>
    </div>
    <div id="remove-collection-dialog">
        <form id="remove-collection-form" action="operations.xql">
            <input id="remove-collection-path_" type="hidden" name="collection"/>
            <div>Remove the folder named "<span id="sharing-collection-path_"/>"? </div>
            <div>
                <br/>
            </div>
            <div>NB: If you remove the folder, the folder and its contents will be deleted and cannot be restored.</div>
        </form>
    </div>
    <div id="sharing-collection-dialog">
        <div>Folder <strong>
                <span id="sharing-collection-path_"/>
            </strong> is shared with:</div>
        <table id="collectionSharingDetails">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Full Name</th>
                    <th>UserID</th>
                    <th>Reading</th>
                    <th>Writing Allowed?</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <input id="add-new-user-to-share-button" type="button" value="Add User"/>
        <input id="add-new-project-to-share-button" type="button" value="Add Project"/>
    </div>
    <div id="add-user-to-share-dialog">
        <div>Enter the user's name:</div>
        <div>
            <input name="user-auto-list" id="user-auto-list"/>
        </div>
        <input id="add-user-to-share-button" type="button" value="Add"/>
    </div>
    <div id="add-project-to-share-dialog">
        <div>
            <span>Enter the project's name:</span>
            <input name="project-auto-list" id="project-auto-list"/>
        </div>
        <input id="add-project-to-share-button" type="button" value="Add"/>
    </div>
    <div id="remove-resource-dialog">
        <form id="remove-resource-form" action="operations.xql">
            <div>Are you sure you wish to remove the current record?</div>
            <input id="remove-resource-id" name="resource" type="hidden" value=""/>
        </form>
    </div>
    <div id="move-resource-dialog">
        <form id="move-resource-form" action="operations.xql">
            <div>Move record from
                '<span id="move-resource-collection-path-label"/>' to
                <div>
                    <select id="resource-move-destinations" name="path"/>
                </div>
            </div>
            <input id="move-resource-id" name="resource" type="hidden" value=""/>
        </form>
    </div>
    <div id="new-resource-dialog">
        <div class="biblio:resource-types stand-alone"/>
    </div>
    <div id="add-related-dialog" modal="true" title="Create Related MODS Record" width="550">
        <div class="biblio:resource-types related-item"/>
    </div>
    <div id="lightbox" class="lightbox" style="display: none">
        <div class="view">
            <div class="image">
                <img class="content" src="dummy"/>
                <a href="" class="next">
                    <img src="theme/images/nextlabel.gif"/>
                </a>
                <a href="" class="previous">
                    <img src="theme/images/prevlabel.gif"/>
                </a>
            </div>
            <h4>Title</h4>
            <a href="" class="close">
                <img src="theme/images/closelabel.gif"/>
            </a>
        </div>
        <a href="" class="show-metadata">Metadata</a>
        <div class="metadata">
            <div class="metadata-content"/>
            <a href="" class="close">
                <img src="theme/images/closelabel.gif"/>
            </a>
        </div>
    </div>
    <div id="filmstrip" class="filmstrip">
        <div class="filmstripPageButtonContainer">
            <span class="filmstripPageButton" id="film-up">˄</span>
        </div>
        <ul id="filmstrip-items"/>
        <div class="filmstripPageButtonContainer">
            <span class="filmstripPageButton" id="film-down">˅</span>
        </div>
        <span class="clear"/>
    </div>
</div>
