.title {
	border: 1px solid #e78f08;
	background: #f6a828;
	border-radius: 4px;
	padding: .4em 1em;
	text-align: left;
}

.content {
	padding: .2em 0.5em;
}

.container {
	border: 1px solid #DDD;
	border-radius: 4px;
}

div {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

#upload-pictures-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -450px;
	width: 900px;
	height: 500px;
	left: 50%;
	margin: -250px 0 0 -450px;
	text-align: center;
	background-color: #FAFAFA;
}

#picture-view-container,#work-view-container {
	width: 370px;
	height: 450px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background-color: #E6E6E6;
}

#buttons-container {
	width: 100px;
	height: 450px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.thumbnail-container {
	width: 50px;
	height: 70px;
	padding: 0.5em;
	text-align: center;
	background-color: #6E6E6E;
}

.thumbnail-container>img {
	height: 100%;
	width: auto;
}