p, td {
    line-height: 1.25em;
}

.authors {
    border:0;
    }

#page-head {
    height: 8.75em;
}

#page-head-left {
    position: absolute;
    left: 0;
}

#page-head-right {
    position: absolute;
    right: 0;
    margin-top: 1em;
}

#sidebar {
    top: 11em;
}

#sidebar ol, ul {
    margin: 0 15px 1em 40px;
}

#sidebar ol li, 
#sidebar ul li 
	{
    font-size: 1.2em;
}

a:hover {
    1border-bottom: 1px solid gray;
}

a, a:visited {
    color: #5DB0E6;
    }

ol, ul {
    font-size: 1em;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    }

.chapter p {
    font-size: 1em !important;
}

.note {
    background-color: #5DB0E6;
    border-left: 2px solid #5DB0E6;
    border-right: 2px solid #5DB0E6;
    border-bottom: 2px solid #5DB0E6;
}

.note .note_content {
    background-color: #EDF0FA;
}
h1 {
    background-color: #5DB0E6;
    padding-top: 5px;
}

.publication {
    color: #3399CC;
}

.container {
    color: #BDA21E;
}

.location{
    color: #B02B73;
}

.chapter {
    font-size: 1.2em;
    }

.chapter p {
    font-size: 1.2em;
}

.note {
    background-color: #5DB0E6;
    border-left: 2px solid #5DB0E6;
    border-right: 2px solid #5DB0E6;
    border-bottom: 2px solid #5DB0E6;
}

.note .note_content {
    background-color: #EDF0FA;
    }
