#query-tabs > ul > li:nth-of-type(6) {
    float:right;
}
#query-tabs > ul > li:nth-of-type(7) {
    float:right;
}
#query-tabs > ul > li:nth-of-type(8) {
    float:right;
}
#query-history ul li:nth-of-type(5) {
    float:none;
}
#query-history ul li:nth-of-type(6) {
    float:none;
}
#query-history ul li:nth-of-type(7) {
    float:none;
}
#about-tamboti ul li:nth-of-type(5) {
    float:none;
}
#about-tamboti ul li:nth-of-type(6) {
    float:none;
}
#about-tamboti ul li:nth-of-type(7) {
    float:none;
}
#cluster-collections ul li:nth-of-type(5) {
    float:none;
}
#cluster-collections ul li:nth-of-type(6) {
    float:none;
}
#cluster-collections ul li:nth-of-type(7) {
    float:none;
}

#filters2 {
    width: 97%;
}

#filters2-navigation a:hover {
    color: black ;
    background-color: #def ;    
}

.filters-loading-indicator {
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    display: none;
    margin-left: 5px;
}

#filters-renderer {
    position: relative;
    overflow: auto;
    height: 500px;
    width: 1200px;
    margin-top: 20px;
}

#filters-renderer div:hover {
    background: #3579e8;
    color: white;
    border-radius: 6px;
}

#filters-renderer div {
    float: left;
    margin-right: 15px;
    padding: 1px 5px 1px 5px;
}

.selected-filter-view {
    margin-right: 15px;
    padding: 1px 5px 1px 5px;
    background: #3579e8;
    color: white;
    border-radius: 6px;    
}
