#query-tabs ul li:nth-of-type(5) {
    float:right;
}
#query-tabs ul li:nth-of-type(6) {
    float:right;
}
#query-tabs ul li:nth-of-type(7) {
    float:right;
}
#query-history ul li:nth-of-type(5) {
    float:none;
}
#query-history ul li:nth-of-type(6) {
    float:none;
}
#query-history ul li:nth-of-type(7) {
    float:none;
}
#about-tamboti ul li:nth-of-type(5) {
    float:none;
}
#about-tamboti ul li:nth-of-type(6) {
    float:none;
}
#about-tamboti ul li:nth-of-type(7) {
    float:none;
}
#cluster-collections ul li:nth-of-type(5) {
    float:none;
}
#cluster-collections ul li:nth-of-type(6) {
    float:none;
}
#cluster-collections ul li:nth-of-type(7) {
    float:none;
}